.bubble-simple-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
  pointer-events: none;
}

.bubble-simple {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.bubble-simple li {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  box-shadow: inset 5px -5px 10px rgba(190, 232, 230, 0.3);
  background: rgba(190, 232, 230, 0.1);
  border: 1px solid rgba(190, 232, 230, 0.18);
  animation: bubble-rise 25s linear infinite;
  backdrop-filter: blur(2px);
  bottom: -150px;
  border-radius: 50%;
}

.bubble-simple li:nth-child(1) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
}

.bubble-simple li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.bubble-simple li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.bubble-simple li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.bubble-simple li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.bubble-simple li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.bubble-simple li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.bubble-simple li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.bubble-simple li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.bubble-simple li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

.bubble-simple li:nth-child(11) {
  left: 10%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

.bubble-simple li:nth-child(12) {
  left: 0%;
  width: 150px;
  height: 150px;
  animation-delay: 2s;
  animation-duration: 30s;
}

.bubble-simple li:nth-child(13) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.bubble-simple li:nth-child(14) {
  left: 25%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
  animation-duration: 35s;
}

.bubble-simple li:nth-child(15) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.bubble-simple li:nth-child(16) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.bubble-simple li:nth-child(17) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.bubble-simple li:nth-child(18) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.bubble-simple li:nth-child(19) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.bubble-simple li:nth-child(20) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 10s;
}

.bubble-simple li:nth-child(21) {
  left: 55%;
  width: 150px;
  height: 150px;
  animation-duration: 20s;
}

@keyframes bubble-rise {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(-1000px) rotate(360deg);
    opacity: 0;
  }
}
