@import 'tailwindcss';

@theme {
  --color-base-100: var(--deep-ocean);
  --color-base-200: var(--abyss-navy);
  --color-base-300: var(--reef-teal);

  --color-primary: var(--cloud-dancer);
  --color-secondary: var(--slate-blue-gray);

  --color-link: var(--sunbeam-gold);
}
