@import 'tailwindcss';

@theme {
  --color-deep-ocean: var(--deep-ocean);
  --color-abyss-navy: var(--abyss-navy);
  --color-reef-teal: var(--reef-teal);
  --color-sea-mist: var(--sea-mist);

  --color-cloud-dancer: var(--cloud-dancer);
  --color-slate-blue-gray: var(--slate-blue-gray);

  --color-sunbeam-gold: var(--sunbeam-gold);
  --color-coral-bloom: var(--coral-bloom);
}
